<!-- header.html -->
<header>
    <div class="contenedor-header">
        <div class="encabezado">
            <h1>Cine Blossom</h1>
        </div>
        <div class="nav-bar">
            <ul>
                <li>
                    <a routerLink="/home" routerLinkActive="activo">Inicio</a>
                </li>
                <li>
                    <a routerLink="/proximamente" routerLinkActive="activo">Próximamente</a>
                </li>

                <p> {{this.authService.rolActual()}} </p>

                @if (authService.rolActual() === 'admin') {
                    <li>
                        <a routerLink="/admin" routerLinkActive="activo">Panel Admin</a>
                    </li>
                }

                @if (authService.currentUser(); as usuario) {
                    <li class="usuario-info">{{ usuario.email }}</li>
                    <li>
                        <button (click)="cerrarSesion()" class="boton-logout">Cerrar sesión</button>
                    </li>
                } @else {
                    <li>
                        <a routerLink="/login" routerLinkActive="activo">Login</a>
                    </li>
                    <li>
                        <a routerLink="/register" routerLinkActive="activo">Registrarse</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <hr>
</header>